// Background
$body-bg-color: #E5E5E5;
$main-bg-color: #FFF;


// Colors
$title-color: #1C1C1C;
$text-color: #545454;
$input-color: #969696;
$border-color: #E4E4E4;
$accent-color: #007BFF;


// Fonts
$title-font: 500 24px / 1.33 'Roboto500',
sans-serif;
$lable-font: 400 15px / 1.47 'Roboto400',
sans-serif;
$privat-font: 400 13px / 1.38 'Roboto400',
sans-serif;
$button-font: 500 15px / 1.47 'Roboto500',
sans-serif;
$input-font: 400 15px / 1.47 'Inter400',
sans-serif;